/* Reiniciar estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* Encabezado */
.header {
    width: 100%;
    background: linear-gradient(90deg, #ff3d00, #ff9d00);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

.header img {
    height: 50px;
    margin-right: 20px;
}

.header input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* Menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
}

.dropbtn {
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(90deg, #007bff, #00bfff);
    color: white;
    border: none;
    height: 10vh;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dd8c13;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Botón de cerrar sesión */
.logout-btn {
    width: 120px;
    padding: 10px;
    background-color: #ff4d4d;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.logout-btn img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.logout-btn:hover {
    background-color: #e60000;
}

/* Contenido */
.content, .content_alumnos {
    width: 90%;
    max-width: 1200px;
    background: orange;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table thead {
    background-color: #333;
    color: white;
}

table th, table td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Botones */
.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}

.button, .button_2,.button_3 {
    padding: 20px 0;
    border-radius: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
    color: #fff;
}

.button {
    background: white;
    color: #333;
}

.button_2 {
    background: linear-gradient(rgb(125, 238, 241), blue);
    height: 5vh;
}
.button_3{
    background: linear-gradient(rgb(125, 238, 241), blue);
    height: 7vh;
}

.button:hover, .button_2:hover {
    transform: scale(1.1);
}

.button-group form{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.add-btn {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #218838;
}

/* Responsive */
@media (max-width: 768px) {
    .header input[type="text"] {
        width: 80%;
    }
    .dropbtn, .logout-btn {
        width: 100px;
        font-size: 16px;
        padding: 5px;
    }
    .buttons {
        grid-template-columns: 1fr;
    }
    .title {
        font-size: 1.8em;
    }
    .content, .content_alumnos {
        width: 100%;
        padding: 20px;
        margin-top: 120px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }
    .header input[type="text"] {
        width: 100%;
    }
    .title {
        font-size: 1.5em;
    }
    .content, .content_alumnos {
        padding: 15px;
        margin-top: 100px;
    }
    .button, .button_2 {
        padding: 15px;
        font-size: 1em;
    }
}
